@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  min-height: 125vh;
}

.dx-dropdownbutton {
  margin-right: 20px;
}

img.dx-icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dx-popup-title.dx-toolbar {
  background: #fa5558;
  color: white;
}

.dx-scrollable-scroll-content {
  background-color: #ffa000;
}
